@using hmwk_for_5._13._19.Models
@using Data
@model RandomJokeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <h4>@Model.Joke.Setup</h4>
    <h2>@Model.Joke.Punchline</h2>

        @if (Model.Liked)
        {
            <button class="btn-primary" disabled>Like</button>
            <h5>You already liked this joke</h5>
        }
        <form method="post" action="/home/like">
            <input type="hidden" id="userId" value="@Model.User.Id" />
            <input type="hidden" id="jokeId" value="@Model.Joke.Id" />
            <button class="btn-primary form-control" id="like-btn">Like</button>
        </form>
        @if (Model.Disliked)
        {
            <button class="btn-primary" disabled>Dislike</button>
            <h5>You already disliked this joke</h5>
        }
        <form method="post" action="/home/like">
            <input type="hidden" id="userId" value="@Model.User.Id" />
            <input type="hidden" id="jokeId" value="@Model.Joke.Id" />
            <button class="btn-danger form-control" id="dislike-btn">Dislike</button>
        </form>

</div>

@section Scripts{

    <script src="~/js/index.js"></script>
}
